/* Entire Website */

body{
	background-image: url('../images/concert.jpg');
}

.keys {
	display:flex;
  flex:2;
  align-items: center;
  justify-content: center;
	position: absolute;
	top: 50%;
	width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.key {
	height: 100px;
	width:100px;
	padding: 20px;
	margin:10px;
	border: 4px solid #000;
	border-radius: 16px;
	background-color:rgba(128,56,38,0.4);
	transition: all 0.07s;
}

.playing{
	transform: scale(1.1);
	border-color: #F0E68C;
}

kbd{
	padding-right: 10px;
  padding-left: 15px;
	background-color: transparent;
	font-family: 'Yeseva One', cursive;
	font-family: 'Prociono', serif;
	color: #fff;
	font-size: 30px;
}

p{
	text-transform: uppercase;
	color: #F0E68C;
	text-align:center;
	font-size: 12px;
}